<% provide(:title, "About") %>
<h2>About Us</h2>
<p>Its 2019, the era of anything goes it seems. People have become increasingly adventurous, 
moral, disciplined and oftentimes, quite restricted in terms of their diets. People have always 
worked hard on their diets with the intention of losing weight, with salad being the obvious 
choice of breakfast, lunch and dinner which, let’s be honest, could not have been more dull! 
Nonetheless, even for the salad eaters, there are more interesting options than a standard 
Caesar Salad out there now, especially since the dawn of Chopped, which takes salads to a new 
level. But what about those with allergies? Lactose, nuts, eggs, gluten, etc. What about 
those who have chosen to live healthier lives, save the planet, save the animals; the veggies 
and vegans of the world! Well there’s a lot more out there for these people too than there 
ever was before.
<br>
<br>
It’s a blessing and a curse. Having the option to eat tastier food is of course, a gift, 
but sometimes with all the options available these days, you can find yourself working up an 
appetite just trying to decide where to go and what to eat.
<br>
<br>
That's why we've decided to bring you to OddEats! We've found all of the best Odd Eat venues in
Dublin and listed everything you need to know about them right here! We've even gone one step
further by creating vouchers for them! We have some great discounts over on our Vouchers page, 
so take a spin over there to get your OddEats on!
</p>


