<% provide(:title, "Contact Us!") %>
<h4>We love to hear feedback about people's experiences in our favourite OddEats venues,
so get in touch any time to share yours with us!</h4>
<h2>Opening Hours</h2>
<p> you can reach us any time between the hours listed below<br>
<br>
Mon - 09:00-18:00<br>
Tues - 09:00-18:00<br>
Wed - 09:00-18:00<br>
Thurs - 09:00-18:00<br>
Fri - 09:00-18:00<br>
Sat - 10:00-16:00<br>
Sun - Closed<br></p>

<h3>Phone</h3>
<p>018492287</p>

<h3>Email</h3>
<p>customercare@oddeats.com</p>
