<% provide(:title, "Hello") %>

<section class="header-home">
    <h1 class="header-home__title">OddEats Dublin</h1>
    <h2 class="header-home__subtitle">Lorem ipsum ammet dolores</h2>
</section>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      <section class="home-intro">
        <h2 class="home-intro__title">OddEats, what's the story?</h2>
        <p class="home-intro__text">Its 2019, the era of anything goes it seems. People have become increasingly adventurous, moral, disciplined and oftentimes, quite restricted in terms of their diets. People have always worked hard on their diets with the intention of losing weight, with salad being the obvious choice of breakfast, lunch and dinner which.</p>
      </section>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <section class="home-slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("1.jpg", alt: "Welcome Logo", :class => "welcomeIm d-block w-100") %>  
        </div>
        <div class="carousel-item">
          <%= image_tag("3.jpg", alt: "Welcome Logo", :class => "welcomeIm d-block w-100") %>  
        </div>
        <div class="carousel-item">
           <%= image_tag("4.jpg", alt: "Welcome Logo", :class => "welcomeIm d-block w-100") %> 
        </div>
        <div class="carousel-item">
           <%= image_tag("2.jpg", alt: "Welcome Logo", :class => "welcomeIm d-block w-100") %> 
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
  
  </section>
    </div>
  </div>
</div>





