<% provide(:title, "Edit Voucher") %>

<h1>Editing Voucher</h1>
<div class="voucers">
    <%= render 'form', voucher: @voucher %>
    
    <%= link_to 'Show', @voucher %> |
    <%= link_to 'Back', vouchers_path %>
</div>