<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>New Voucher</h1>
            
            <%= render 'form', voucher: @voucher %>
            
            <%= link_to 'Back', vouchers_path %>
    </div>
  </div>
</div>